@font-face {
    font-family: inter-Bold;
    src: url("../font/Inter-Bold.ttf");
}
@font-face {
    font-family: inter-Medium;
    src: url("../font/Inter-Medium.ttf");
}
@font-face {
    font-family: inter-Regular;
    src: url("../font/Inter-Regular.ttf");
}
@font-face {
    font-family: inter-SemiBold;
    src: url("../font/Inter-SemiBold.ttf");
}

html{
    font-size: 14px;
}

:root {

    font-family: inter-Regular, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root{
    /* base colors for this project */

    --bizgem_primary:#3F88C5;
    color: #000;
    background-color: #fafafa;

}


body{
    height: 100vh;
    background-color: #fff;
    color: #000;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}


